.gradient{
    -fx-background-color: linear-gradient(to bottom right, #b4875a, #b4875a);
}
.gradient2{
    -fx-background-color: linear-gradient(to bottom right, #b4875a, #b4875a);
}
.white-form{
    -fx-background-color: #e0ba99;
}
.black-form{
    -fx-background-color: #070606;
}
.blacktxt-form{
    -fx-text-stroke: #070606;
}

.login-btn{
    -fx-background-color: linear-gradient(to bottom right, #663c22, #663c22);
    -fx-background-radius: 5px;
    -fx-border-color: #ffffff;
    -fx-cursor: hand;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
}

.login-btn:hover{
    -fx-background-color: linear-gradient(to bottom right, #b47028, #b47028);
}

.box{
    -fx-border-color: #070606 ;
}
